<body style="background-color:lightgrey">
<div class="container p-3 my-3 border">
<h1 style ="text-align:center">Editing Semester</h1>
</div>
 
<%= render 'form' %>
 
<%= link_to 'Show', @semester %> |
<%= link_to 'Back', semesters_path %>