<body style="background-color:lightgrey">
<div class="container p-3 my-3 border">
<h1 style ="text-align:center">Edit Student</h1>
 
<%= render 'form' %>
 
<%= link_to 'Show', @student_details %> |
<%= link_to 'Back', student_details_path %>
</div>